# Network Data Science with NetworkX and Python
## Loading graphs from Excel spreadsheet 
This code loads social network data from an Excel spreadsheet using pandas library and then creates a graph using networkx library.
1) First, the URL of the Excel file is provided and then using pandas, the data from the two sheets "Elements" and "Connections" are loaded into a dictionary "network_data" with keys "Elements" and "Connections" respectively.
2) The "Elements" sheet contains information about each node (or person) in the network such as their label, type (in this case, all are students), School (ID) and if they answered the form or not.
3) The "Connections" sheet contains information about the edges (or relationships) between nodes. Each edge has a 'From' and a 'To' node, type of relationship (School, Other or NaN), weight, and when the relationship was formed.
4) The graph is created using the networkx function nx.convert_matrix.from_pandas_edgelist() which converts the edges from the pandas DataFrame "connections_data" to a networkx graph. The source and target arguments specify which columns in the DataFrame correspond to the nodes of the graph. The edge_attr argument specifies which columns should be used as edge attributes.
5) The node attributes are then added to the graph using nx.set_node_attributes() function which takes a dictionary of node labels and node attribute dictionaries as input.
6) Finally, some random edges and nodes are sampled from the graph and their attributes are printed using the edges and nodes attributes of the graph object.

In [15]:
# import required libraries
from random import sample
import networkx as nx
import pandas as pd

In [19]:
# load data from excel file on github
link = ('https://github.com/vanshika230/Facebook-Network-Analysis/blob/main/Social%20Network%20Dataset.xlsx?raw=true')

In [20]:
network_data = pd.read_excel(link, sheet_name = ['Elements', 'Connections'])

In [23]:
network_data

{'Elements':          Label     Type  School (ID) Answered the form
 0     S-c1b610  Student           27               Yes
 1     S-4985b3  Student           25               Yes
 2     S-376418  Student           67               Yes
 3     S-d00f38  Student           24               Yes
 4     S-e538e3  Student           30               Yes
 ...        ...      ...          ...               ...
 1188  S-64b594  Student           25                No
 1189  S-42ff75  Student           49                No
 1190  S-87c031  Student            4                No
 1191  S-cd9523  Student           12                No
 1192  S-1a36bb  Student           58                No

 [1193 rows x 4 columns],
 'Connections':           From        To    Type  Weight    When
 0     S-c1b610  S-7d9053   Other     1.0  2012.0
 1     S-4985b3  S-e7dad4  School     1.0  2015.0
 2     S-376418  S-ab3070  School     1.0  2012.0
 3     S-d00f38  S-6e1f64  School     1.0  2016.0
 4     S-e538e3  S-596786   Other     1.0  1994.0
 ...        ...       ...     ...     ...     ...
 3720  S-62b2dd  S-1d79de     NaN     0.2  2015.0
 3721  S-70f591  S-5df058     NaN     0.2  2013.0
 3722  S-d8896c  S-c16d72     NaN     0.2  2017.0
 3723  S-7b9f00  S-780caf     NaN     0.2  2016.0
 3724  S-3df3a7  S-1a36bb     NaN     0.2  2006.0

 [3725 rows x 5 columns]}

In [24]:
# separate the elements and connections data
elements_data = network_data['Elements']
connections_data = network_data['Connections']

In [25]:
connections_data.head()

       From        To    Type  Weight    When
0  S-c1b610  S-7d9053   Other     1.0  2012.0
1  S-4985b3  S-e7dad4  School     1.0  2015.0
2  S-376418  S-ab3070  School     1.0  2012.0
3  S-d00f38  S-6e1f64  School     1.0  2016.0
4  S-e538e3  S-596786   Other     1.0  1994.0

In [26]:
# create a networkx graph from the connections data
edge_cols = ['Type', 'Weight', 'When']
graph = nx.convert_matrix.from_pandas_edgelist(connections_data,source = 'From', target = 'To',edge_attr = edge_cols)

In [27]:
sampled_edges = sample(graph.edges, 10)

In [28]:
graph.edges[sampled_edges[0]]

{'Type': nan, 'Weight': 0.4, 'When': 2012.0}

In [31]:
elements_data.head(10)

      Label     Type  School (ID) Answered the form
0  S-c1b610  Student           27               Yes
1  S-4985b3  Student           25               Yes
2  S-376418  Student           67               Yes
3  S-d00f38  Student           24               Yes
4  S-e538e3  Student           30               Yes
5  S-aef13c  Student           26               Yes
6  S-ee8774  Student           27               Yes
7  S-8b51fe  Student           58               Yes
8  S-21cce5  Student           27               Yes
9  S-359c63  Student           49               Yes

In [32]:
node_dict = elements_data.set_index('Label').to_dict(orient = 'index')
nx.set_node_attributes(graph, node_dict)

In [33]:
sampled_nodes = sample(graph.nodes, 10)

In [34]:
graph.nodes[sampled_nodes[0]]

{'Type': 'Student', 'School (ID)': 67, 'Answered the form': 'No'}